{
  "openapi": "3.0.3",
  "info": {
    "title": "Omnistrate Registration API",
    "description": "REST API for Omnistrate Service Registration",
    "version": "2022-09-01-00"
  },
  "servers": [
    {
      "url": "https://api.omnistrate.cloud"
    }
  ],
  "paths": {
    "/2022-09-01-00/accountconfig": {
      "post": {
        "tags": [
          "account-config-api"
        ],
        "summary": "CreateAccountConfig account-config-api",
        "operationId": "account-config-api#CreateAccountConfig",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountConfigRequestBody"
              },
              "example": {
                "awsAccessKey": "Tenetur numquam.",
                "awsAccountID": "123456789012",
                "awsBootstrapRoleARN": "arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>",
                "awsSecretKey": "Et nostrum harum eos suscipit iusto.",
                "byoaInstanceID": "instance-12345678",
                "cloudProviderId": "infra-12345678",
                "description": "An AWS account hosting multiple dev environments",
                "gcpProjectID": "my-project",
                "gcpProjectNumber": "123456789012",
                "gcpServiceAccountEmail": "bootstrap@my-project.iam.gserviceaccount.com",
                "gcpServiceAccountKey": "Totam quisquam nostrum.",
                "name": "Dev AWS account"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "The ID of the registered account config",
                  "example": "ac-12345678"
                },
                "examples": {
                  "default": {
                    "summary": "default",
                    "value": "ac-12345678"
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Response used when the requested resource is not found",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "invalid_state: Response used when requested resource is in an invalid state for this operation",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to create an account config",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/2022-09-01-00/accountconfig/{id}": {
      "delete": {
        "tags": [
          "account-config-api"
        ],
        "summary": "DeleteAccountConfig account-config-api",
        "operationId": "account-config-api#DeleteAccountConfig",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Account Config ID to operate on",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of an Account Config",
              "example": "Est quia maiores est earum vel."
            },
            "example": "ac-12345678"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted response."
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Response used when the requested resource is not found",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "invalid_state: Response used when requested resource is in an invalid state for this operation",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to delete an account config",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      },
      "get": {
        "tags": [
          "account-config-api"
        ],
        "summary": "DescribeAccountConfig account-config-api",
        "operationId": "account-config-api#DescribeAccountConfig",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Account Config ID to operate on",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of an Account Config",
              "example": "Distinctio et numquam rerum cum voluptatem."
            },
            "example": "ac-12345678"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DescribeAccountConfigResult"
                },
                "example": {
                  "awsAccountID": "123456789012",
                  "awsBootstrapRoleARN": "arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>",
                  "awsCloudFormationNoLBTemplateURL": "https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template-no-lb-policy.yaml",
                  "awsCloudFormationTemplateURL": "https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template.yaml",
                  "byoaInstanceIDs": [
                    "instance-12345678",
                    "instance-abcdefgh"
                  ],
                  "cloudProviderId": "infra-12345678",
                  "description": "An AWS account hosting multiple dev environments",
                  "gcpProjectID": "my-project",
                  "gcpProjectNumber": "123456789012",
                  "gcpServiceAccountEmail": "bootstrap@my-project.iam.gserviceaccount.com",
                  "id": "ac-12345678",
                  "name": "Dev AWS account",
                  "status": "READY",
                  "statusMessage": "Account is ready"
                }
              }
            }
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "auth_failure: Response used on authentication failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "forbidden: Response used on authorization failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Response used when the requested resource is not found",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "invalid_state: Response used when requested resource is in an invalid state for this operation",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to describe an account config",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/2022-09-01-00/accountconfig/aws/{awsAccountID}": {
      "get": {
        "tags": [
          "account-config-api"
        ],
        "summary": "DescribeAccountConfigByAWSAccountID account-config-api",
        "operationId": "account-config-api#DescribeAccountConfigByAWSAccountID",
        "parameters": [
          {
            "name": "awsAccountID",
            "in": "path",
            "description": "The AWS account ID",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The AWS account ID",
              "example": "123456789012"
            },
            "example": "123456789012"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DescribeAccountConfigByAWSAccountIDResult"
                },
                "example": {
                  "awsAccountID": "123456789012",
                  "awsBootstrapRoleARN": "arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>",
                  "awsCloudFormationNoLBTemplateURL": "https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template-no-lb-policy.yaml",
                  "awsCloudFormationTemplateURL": "https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template.yaml",
                  "byoaInstanceIDs": [
                    "instance-12345678",
                    "instance-abcdefgh"
                  ],
                  "cloudProviderId": "infra-12345678",
                  "description": "An AWS account hosting multiple dev environments",
                  "id": "ac-12345678",
                  "name": "Dev AWS account",
                  "status": "READY",
                  "statusMessage": "Account is ready"
                }
              }
            }
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "auth_failure: Response used on authentication failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "forbidden: Response used on authorization failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Response used when the requested resource is not found",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "invalid_state: Response used when requested resource is in an invalid state for this operation",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to describe an account config",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/2022-09-01-00/accountconfig/byoa": {
      "get": {
        "tags": [
          "account-config-api"
        ],
        "summary": "ListBYOAConfig account-config-api",
        "operationId": "account-config-api#ListBYOAConfig",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBYOAConfigRequestBody"
              },
              "example": {
                "cloudProviderName": "aws"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountConfigResult"
                },
                "example": {
                  "accountConfigs": [
                    {
                      "awsAccountID": "123456789012",
                      "awsBootstrapRoleARN": "arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>",
                      "awsCloudFormationNoLBTemplateURL": "https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template-no-lb-policy.yaml",
                      "awsCloudFormationTemplateURL": "https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template.yaml",
                      "byoaInstanceIDs": [
                        "instance-12345678",
                        "instance-abcdefgh"
                      ],
                      "cloudProviderId": "infra-12345678",
                      "description": "An AWS account hosting multiple dev environments",
                      "gcpProjectID": "my-project",
                      "gcpProjectNumber": "123456789012",
                      "gcpServiceAccountEmail": "bootstrap@my-project.iam.gserviceaccount.com",
                      "id": "ac-12345678",
                      "name": "Dev AWS account",
                      "status": "READY",
                      "statusMessage": "Account is ready"
                    },
                    {
                      "awsAccountID": "123456789012",
                      "awsBootstrapRoleARN": "arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>",
                      "awsCloudFormationNoLBTemplateURL": "https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template-no-lb-policy.yaml",
                      "awsCloudFormationTemplateURL": "https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template.yaml",
                      "byoaInstanceIDs": [
                        "instance-12345678",
                        "instance-abcdefgh"
                      ],
                      "cloudProviderId": "infra-12345678",
                      "description": "An AWS account hosting multiple dev environments",
                      "gcpProjectID": "my-project",
                      "gcpProjectNumber": "123456789012",
                      "gcpServiceAccountEmail": "bootstrap@my-project.iam.gserviceaccount.com",
                      "id": "ac-12345678",
                      "name": "Dev AWS account",
                      "status": "READY",
                      "statusMessage": "Account is ready"
                    },
                    {
                      "awsAccountID": "123456789012",
                      "awsBootstrapRoleARN": "arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>",
                      "awsCloudFormationNoLBTemplateURL": "https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template-no-lb-policy.yaml",
                      "awsCloudFormationTemplateURL": "https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template.yaml",
                      "byoaInstanceIDs": [
                        "instance-12345678",
                        "instance-abcdefgh"
                      ],
                      "cloudProviderId": "infra-12345678",
                      "description": "An AWS account hosting multiple dev environments",
                      "gcpProjectID": "my-project",
                      "gcpProjectNumber": "123456789012",
                      "gcpServiceAccountEmail": "bootstrap@my-project.iam.gserviceaccount.com",
                      "id": "ac-12345678",
                      "name": "Dev AWS account",
                      "status": "READY",
                      "statusMessage": "Account is ready"
                    }
                  ],
                  "ids": [
                    "ac-12345678",
                    "ac-abcdefgh",
                    "ac-1234efgh"
                  ],
                  "nextPageToken": "next-token"
                }
              }
            }
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "auth_failure: Response used on authentication failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "forbidden: Response used on authorization failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Response used when the requested resource is not found",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "invalid_state: Response used when requested resource is in an invalid state for this operation",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to list account configs",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/2022-09-01-00/accountconfig/cloudprovider/{cloudProviderName}": {
      "get": {
        "tags": [
          "account-config-api"
        ],
        "summary": "ListAccountConfig account-config-api",
        "operationId": "account-config-api#ListAccountConfig",
        "parameters": [
          {
            "name": "cloudProviderName",
            "in": "path",
            "description": "Cloud Provider name to filter on",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Name of the Infra Provider",
              "example": "aws|azure|gcp|all"
            },
            "example": "aws"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountConfigResult"
                },
                "example": {
                  "accountConfigs": [
                    {
                      "awsAccountID": "123456789012",
                      "awsBootstrapRoleARN": "arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>",
                      "awsCloudFormationNoLBTemplateURL": "https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template-no-lb-policy.yaml",
                      "awsCloudFormationTemplateURL": "https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template.yaml",
                      "byoaInstanceIDs": [
                        "instance-12345678",
                        "instance-abcdefgh"
                      ],
                      "cloudProviderId": "infra-12345678",
                      "description": "An AWS account hosting multiple dev environments",
                      "gcpProjectID": "my-project",
                      "gcpProjectNumber": "123456789012",
                      "gcpServiceAccountEmail": "bootstrap@my-project.iam.gserviceaccount.com",
                      "id": "ac-12345678",
                      "name": "Dev AWS account",
                      "status": "READY",
                      "statusMessage": "Account is ready"
                    },
                    {
                      "awsAccountID": "123456789012",
                      "awsBootstrapRoleARN": "arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>",
                      "awsCloudFormationNoLBTemplateURL": "https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template-no-lb-policy.yaml",
                      "awsCloudFormationTemplateURL": "https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template.yaml",
                      "byoaInstanceIDs": [
                        "instance-12345678",
                        "instance-abcdefgh"
                      ],
                      "cloudProviderId": "infra-12345678",
                      "description": "An AWS account hosting multiple dev environments",
                      "gcpProjectID": "my-project",
                      "gcpProjectNumber": "123456789012",
                      "gcpServiceAccountEmail": "bootstrap@my-project.iam.gserviceaccount.com",
                      "id": "ac-12345678",
                      "name": "Dev AWS account",
                      "status": "READY",
                      "statusMessage": "Account is ready"
                    },
                    {
                      "awsAccountID": "123456789012",
                      "awsBootstrapRoleARN": "arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>",
                      "awsCloudFormationNoLBTemplateURL": "https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template-no-lb-policy.yaml",
                      "awsCloudFormationTemplateURL": "https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template.yaml",
                      "byoaInstanceIDs": [
                        "instance-12345678",
                        "instance-abcdefgh"
                      ],
                      "cloudProviderId": "infra-12345678",
                      "description": "An AWS account hosting multiple dev environments",
                      "gcpProjectID": "my-project",
                      "gcpProjectNumber": "123456789012",
                      "gcpServiceAccountEmail": "bootstrap@my-project.iam.gserviceaccount.com",
                      "id": "ac-12345678",
                      "name": "Dev AWS account",
                      "status": "READY",
                      "statusMessage": "Account is ready"
                    },
                    {
                      "awsAccountID": "123456789012",
                      "awsBootstrapRoleARN": "arn:aws:iam::<ACCOUNT_ID>:role/<ROLE_NAME>",
                      "awsCloudFormationNoLBTemplateURL": "https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template-no-lb-policy.yaml",
                      "awsCloudFormationTemplateURL": "https://s3.amazonaws.com/omnistrate-cloudformation/org-EUVvex3bVm/account-config-setup-template.yaml",
                      "byoaInstanceIDs": [
                        "instance-12345678",
                        "instance-abcdefgh"
                      ],
                      "cloudProviderId": "infra-12345678",
                      "description": "An AWS account hosting multiple dev environments",
                      "gcpProjectID": "my-project",
                      "gcpProjectNumber": "123456789012",
                      "gcpServiceAccountEmail": "bootstrap@my-project.iam.gserviceaccount.com",
                      "id": "ac-12345678",
                      "name": "Dev AWS account",
                      "status": "READY",
                      "statusMessage": "Account is ready"
                    }
                  ],
                  "ids": [
                    "ac-12345678",
                    "ac-abcdefgh",
                    "ac-1234efgh"
                  ],
                  "nextPageToken": "next-token"
                }
              }
            }
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "auth_failure: Response used on authentication failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "forbidden: Response used on authorization failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Response used when the requested resource is not found",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "invalid_state: Response used when requested resource is in an invalid state for this operation",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to list account configs",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/2022-09-01-00/accountconfig/gcp/{gcpProjectID}": {
      "get": {
        "tags": [
          "account-config-api"
        ],
        "summary": "DescribeAccountConfigByGCPProjectID account-config-api",
        "operationId": "account-config-api#DescribeAccountConfigByGCPProjectID",
        "parameters": [
          {
            "name": "gcpProjectID",
            "in": "path",
            "description": "The GCP project ID",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The GCP project ID",
              "example": "my-project"
            },
            "example": "my-project"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DescribeAccountConfigByGCPProjectIDResult"
                },
                "example": {
                  "byoaInstanceIDs": [
                    "instance-12345678",
                    "instance-abcdefgh"
                  ],
                  "cloudProviderId": "infra-12345678",
                  "description": "An AWS account hosting multiple dev environments",
                  "gcpProjectID": "my-project",
                  "gcpProjectNumber": "123456789012",
                  "gcpServiceAccountEmail": "bootstrap@my-project.iam.gserviceaccount.com",
                  "id": "ac-12345678",
                  "name": "Dev AWS account",
                  "status": "READY",
                  "statusMessage": "Account is ready"
                }
              }
            }
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "auth_failure: Response used on authentication failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "forbidden: Response used on authorization failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Response used when the requested resource is not found",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "invalid_state: Response used when requested resource is in an invalid state for this operation",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to describe an account config",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/2022-09-01-00/accountconfig/identityid": {
      "get": {
        "tags": [
          "account-config-api"
        ],
        "summary": "AccountConfigIdentityID account-config-api",
        "description": "Returns the identity id of the account config to be used in the trust policy of the account",
        "operationId": "account-config-api#AccountConfigIdentityID",
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountConfigIdentityIDResult"
                },
                "example": {
                  "id": "org-12345678"
                }
              }
            }
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to get an account config identity id",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/2022-09-01-00/accountconfig/verify/{id}": {
      "post": {
        "tags": [
          "account-config-api"
        ],
        "summary": "VerifyAccountConfig account-config-api",
        "operationId": "account-config-api#VerifyAccountConfig",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Account Config ID to operate on",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of an Account Config",
              "example": "Ab ipsum et provident omnis ut error."
            },
            "example": "ac-12345678"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted response."
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "auth_failure: Response used on authentication failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "forbidden: Response used on authorization failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Response used when the requested resource is not found",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to list account configs",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/2022-09-01-00/availability-zone/{id}": {
      "get": {
        "tags": [
          "availability-zone-api"
        ],
        "summary": "DescribeAvailabilityZone availability-zone-api",
        "operationId": "availability-zone-api#DescribeAvailabilityZone",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of an AZ",
              "example": "Molestiae ut quia velit harum quia quo."
            },
            "example": "az-12345678"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DescribeAvailabilityZoneResult"
                },
                "example": {
                  "cloudProviderName": "aws",
                  "code": "us-east-1a",
                  "description": "US East (N. Virginia) Availability Zone A",
                  "id": "az-12345678",
                  "regionCode": "us-east-1"
                }
              }
            }
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "auth_failure: Response used on authentication failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "forbidden: Response used on authorization failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Response used when the requested resource is not found",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "invalid_state: Response used when requested resource is in an invalid state for this operation",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to describe an availability zone",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/2022-09-01-00/availability-zone/cloud-provider/{cloudProviderName}": {
      "get": {
        "tags": [
          "availability-zone-api"
        ],
        "summary": "ListAvailabilityZone availability-zone-api",
        "operationId": "availability-zone-api#ListAvailabilityZone",
        "parameters": [
          {
            "name": "cloudProviderName",
            "in": "path",
            "description": "The cloud provider for this compute instance type config",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Name of the Infra Provider",
              "example": "aws|azure|gcp|all"
            },
            "example": "aws"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListServiceEnvironmentsResult"
                },
                "example": {
                  "ids": [
                    "az-12345678",
                    "az-87654321"
                  ],
                  "nextPageToken": "next-token"
                }
              }
            }
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "auth_failure: Response used on authentication failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "forbidden: Response used on authorization failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Response used when the requested resource is not found",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "invalid_state: Response used when requested resource is in an invalid state for this operation",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to list availability zones",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/2022-09-01-00/availability-zone/code/{code}/cloud-provider/{cloudProviderName}": {
      "get": {
        "tags": [
          "availability-zone-api"
        ],
        "summary": "GetAvailabilityZoneByCode availability-zone-api",
        "operationId": "availability-zone-api#GetAvailabilityZoneByCode",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "Cloud-provider native availability zone code",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Cloud-provider native availability zone code",
              "example": "us-east-1a"
            },
            "example": "us-east-1a"
          },
          {
            "name": "cloudProviderName",
            "in": "path",
            "description": "The cloud provider for this compute instance type config",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Name of the Infra Provider",
              "example": "aws|azure|gcp|all"
            },
            "example": "aws"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "Nisi sed perspiciatis est."
                },
                "example": "Ut odit vero deleniti tempore aut."
              }
            }
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "auth_failure: Response used on authentication failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "forbidden: Response used on authorization failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Response used when the requested resource is not found",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "invalid_state: Response used when requested resource is in an invalid state for this operation",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to get an availability zone by code",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/2022-09-01-00/availability-zone/region/code/{regionCode}/cloud-provider/{cloudProviderName}": {
      "get": {
        "tags": [
          "availability-zone-api"
        ],
        "summary": "ListAvailabilityZonesByRegionCode availability-zone-api",
        "operationId": "availability-zone-api#ListAvailabilityZonesByRegionCode",
        "parameters": [
          {
            "name": "regionCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "us-east-1"
            },
            "example": "us-east-1"
          },
          {
            "name": "cloudProviderName",
            "in": "path",
            "description": "The cloud provider for this compute instance type config",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Name of the Infra Provider",
              "example": "aws|azure|gcp|all"
            },
            "example": "aws"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListServiceEnvironmentsResult"
                },
                "example": {
                  "ids": [
                    "az-12345678",
                    "az-87654321"
                  ],
                  "nextPageToken": "next-token"
                }
              }
            }
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "auth_failure: Response used on authentication failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "forbidden: Response used on authorization failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Response used when the requested resource is not found",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "invalid_state: Response used when requested resource is in an invalid state for this operation",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to list availability zones by region code",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/2022-09-01-00/change-password": {
      "post": {
        "tags": [
          "signup-api"
        ],
        "summary": "ChangePassword signup-api",
        "operationId": "signup-api#ChangePassword",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequestBody"
              },
              "example": {
                "email": "abc@gmail.com",
                "password": "password",
                "token": "fc7b8dea-a50b-4c9a-8864-fc3d845a2be6"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK response."
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "auth_failure: Response used on authentication failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "forbidden: Response used on authorization failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Response used when the requested resource is not found",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "invalid_state: Response used when requested resource is in an invalid state for this operation",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to change password",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/2022-09-01-00/cloud-provider": {
      "get": {
        "tags": [
          "cloud-provider-api"
        ],
        "summary": "ListCloudProvider cloud-provider-api",
        "operationId": "cloud-provider-api#ListCloudProvider",
        "parameters": [
          {
            "name": "serviceId",
            "in": "query",
            "description": "Service ID. If specified together with serviceModelId,list the cloud provider of the service model. Otherwise list all cloud provider.",
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "description": "ID of a Service",
              "example": "s-123456"
            },
            "example": "s-12345678"
          },
          {
            "name": "serviceModelId",
            "in": "query",
            "description": "Service model ID. If specified together with serviceId,list the cloud provider of the service model. Otherwise list all cloud provider.",
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "description": "ID of a Service Model",
              "example": "Eaque et et voluptates quae."
            },
            "example": "sm-12345678"
          },
          {
            "name": "productTierId",
            "in": "query",
            "description": "Product tier ID. If specified together with serviceId,list the cloud provider of the product tier. Otherwise list all cloud provider.",
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "description": "ID of a Product Tier",
              "example": "Saepe optio earum quia enim fuga."
            },
            "example": "pt-12345678"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListServiceEnvironmentsResult"
                },
                "example": {
                  "ids": [
                    "infra-12345678",
                    "infra-87654321"
                  ],
                  "nextPageToken": "next-token"
                }
              }
            }
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "auth_failure: Response used on authentication failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "forbidden: Response used on authorization failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Response used when the requested resource is not found",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "invalid_state: Response used when requested resource is in an invalid state for this operation",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to list cloud providers",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/2022-09-01-00/cloud-provider/{id}": {
      "get": {
        "tags": [
          "cloud-provider-api"
        ],
        "summary": "DescribeCloudProvider cloud-provider-api",
        "operationId": "cloud-provider-api#DescribeCloudProvider",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the CloudProvider",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of an CloudProvider",
              "example": "Unde aut veritatis."
            },
            "example": "infra-12345678"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DescribeCloudProviderResult"
                },
                "example": {
                  "description": "Amazon Web Services",
                  "id": "infra-12345678",
                  "name": "aws"
                }
              }
            }
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "auth_failure: Response used on authentication failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "forbidden: Response used on authorization failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Response used when the requested resource is not found",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "invalid_state: Response used when requested resource is in an invalid state for this operation",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to describe an cloud provider",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/2022-09-01-00/cloud-provider/name/{name}": {
      "get": {
        "tags": [
          "cloud-provider-api"
        ],
        "summary": "GetCloudProviderByName cloud-provider-api",
        "operationId": "cloud-provider-api#GetCloudProviderByName",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Name of the CloudProvider",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Name of the CloudProvider",
              "example": "aws",
              "minLength": 1
            },
            "example": "aws"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "Asperiores veritatis in maxime autem sed."
                },
                "example": "Quo aliquam fuga laudantium."
              }
            }
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "auth_failure: Response used on authentication failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "forbidden: Response used on authorization failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Response used when the requested resource is not found",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "invalid_state: Response used when requested resource is in an invalid state for this operation",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to get an cloud provider by name",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/2022-09-01-00/compose-gen/image": {
      "get": {
        "tags": [
          "compose-gen-api"
        ],
        "summary": "CheckIfContainerImageAccessible compose-gen-api",
        "operationId": "compose-gen-api#CheckIfContainerImageAccessible",
        "parameters": [
          {
            "name": "imageRegistry",
            "in": "query",
            "description": "Registry where the image is stored",
            "allowEmptyValue": true,
            "required": true,
            "schema": {
              "type": "string",
              "description": "Registry where the image is stored",
              "example": "docker.io"
            },
            "example": "docker.io"
          },
          {
            "name": "username",
            "in": "query",
            "description": "Username to access the image registry",
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "description": "Username to access the image registry",
              "example": "username"
            },
            "example": "username"
          },
          {
            "name": "password",
            "in": "query",
            "description": "Password to access the image registry",
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "description": "Password to access the image registry",
              "example": "password"
            },
            "example": "password"
          },
          {
            "name": "image",
            "in": "query",
            "description": "Name of the image along with the tag. Include the repository name if the image is not from the official repository",
            "allowEmptyValue": true,
            "required": true,
            "schema": {
              "type": "string",
              "description": "Name of the image along with the tag. Include the repository name if the image is not from the official repository",
              "example": "library/mysql:5.7"
            },
            "example": "library/mysql:5.7"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckIfContainerImageAccessibleResult"
                },
                "example": {
                  "errorMsg": "Omnis quas nihil magni odio accusamus.",
                  "imageAccessible": true
                }
              }
            }
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "auth_failure: Response used on authentication failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "forbidden: Response used on authorization failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Response used when the requested resource is not found",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "invalid_state: Response used when requested resource is in an invalid state for this operation",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to build a service from compose spec",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      },
      "post": {
        "tags": [
          "compose-gen-api"
        ],
        "summary": "GenerateComposeSpecFromContainerImage compose-gen-api",
        "operationId": "compose-gen-api#GenerateComposeSpecFromContainerImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateComposeSpecFromContainerImageRequestBody"
              },
              "example": {
                "environmentVariables": [
                  {
                    "key": "MYSQL_ROOT_PASSWORD",
                    "value": "password"
                  }
                ],
                "image": "library/mysql:5.7",
                "imageRegistry": "docker.io",
                "password": "password",
                "username": "username"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateComposeSpecFromContainerImageResult"
                },
                "example": {
                  "fileContent": "Rem nesciunt id."
                }
              }
            }
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "auth_failure: Response used on authentication failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "forbidden: Response used on authorization failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Response used when the requested resource is not found",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "invalid_state: Response used when requested resource is in an invalid state for this operation",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to build a service from compose spec",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/2022-09-01-00/contactus": {
      "post": {
        "tags": [
          "contactus-api"
        ],
        "summary": "Contactus contactus-api",
        "operationId": "contactus-api#Contactus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactusRequestBody"
              },
              "example": {
                "company": "ABC",
                "email": "abc@gmail.com",
                "message": "this is a test",
                "name": "John Doe"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK response."
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "auth_failure: Response used on authentication failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "forbidden: Response used on authorization failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Response used when the requested resource is not found",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "invalid_state: Response used when requested resource is in an invalid state for this operation",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to contactus",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/2022-09-01-00/customdomain": {
      "get": {
        "tags": [
          "custom-domain-api"
        ],
        "summary": "ListCustomDomain custom-domain-api",
        "operationId": "custom-domain-api#ListCustomDomain",
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomDomainResult"
                },
                "example": {
                  "CustomDomains": [
                    {
                      "customDomain": "mydomain.dev",
                      "description": "Description of the domain",
                      "id": "cd-12345678",
                      "name": "Dev domain",
                      "route53Configuration": {
                        "awsAccountID": "123456789012",
                        "awsCloudFormationTemplateURL": "https://s3.amazonaws.com/my-bucket/my-template.json"
                      },
                      "status": "READY",
                      "statusMessage": "Account is ready"
                    },
                    {
                      "customDomain": "mydomain.dev",
                      "description": "Description of the domain",
                      "id": "cd-12345678",
                      "name": "Dev domain",
                      "route53Configuration": {
                        "awsAccountID": "123456789012",
                        "awsCloudFormationTemplateURL": "https://s3.amazonaws.com/my-bucket/my-template.json"
                      },
                      "status": "READY",
                      "statusMessage": "Account is ready"
                    },
                    {
                      "customDomain": "mydomain.dev",
                      "description": "Description of the domain",
                      "id": "cd-12345678",
                      "name": "Dev domain",
                      "route53Configuration": {
                        "awsAccountID": "123456789012",
                        "awsCloudFormationTemplateURL": "https://s3.amazonaws.com/my-bucket/my-template.json"
                      },
                      "status": "READY",
                      "statusMessage": "Account is ready"
                    }
                  ],
                  "ids": [
                    "cd-12345678",
                    "cd-abcdefgh",
                    "cd-1234efgh"
                  ],
                  "nextPageToken": "next-token"
                }
              }
            }
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "auth_failure: Response used on authentication failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "forbidden: Response used on authorization failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Response used when the requested resource is not found",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "invalid_state: Response used when requested resource is in an invalid state for this operation",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to list Custom Domains",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      },
      "post": {
        "tags": [
          "custom-domain-api"
        ],
        "summary": "CreateCustomDomain custom-domain-api",
        "operationId": "custom-domain-api#CreateCustomDomain",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomDomainRequestBody"
              },
              "example": {
                "customDomain": "mydomain.dev",
                "description": "Description of the domain",
                "name": "Dev domain",
                "route53Configuration": {
                  "awsAccountID": "123456789012"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "The ID of the registered Custom Domain",
                  "example": "cd-12345678"
                },
                "examples": {
                  "default": {
                    "summary": "default",
                    "value": "cd-12345678"
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Response used when the requested resource is not found",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "invalid_state: Response used when requested resource is in an invalid state for this operation",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to create an Custom Domain",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/2022-09-01-00/customdomain/{id}": {
      "delete": {
        "tags": [
          "custom-domain-api"
        ],
        "summary": "DeleteCustomDomain custom-domain-api",
        "operationId": "custom-domain-api#DeleteCustomDomain",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "custom domain ID to operate on",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of an Custom Domain",
              "example": "Voluptatem nulla deleniti eligendi."
            },
            "example": "cd-12345678"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted response."
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Response used when the requested resource is not found",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "invalid_state: Response used when requested resource is in an invalid state for this operation",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to delete an Custom Domain",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      },
      "get": {
        "tags": [
          "custom-domain-api"
        ],
        "summary": "DescribeCustomDomain custom-domain-api",
        "operationId": "custom-domain-api#DescribeCustomDomain",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "custom domain ID to operate on",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of an Custom Domain",
              "example": "Voluptatem quos corporis dolores."
            },
            "example": "cd-12345678"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DescribeCustomDomainResult"
                },
                "example": {
                  "customDomain": "mydomain.dev",
                  "description": "Description of the domain",
                  "id": "cd-12345678",
                  "name": "Dev domain",
                  "route53Configuration": {
                    "awsAccountID": "123456789012",
                    "awsCloudFormationTemplateURL": "https://s3.amazonaws.com/my-bucket/my-template.json"
                  },
                  "status": "READY",
                  "statusMessage": "Account is ready"
                }
              }
            }
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "auth_failure: Response used on authentication failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "forbidden: Response used on authorization failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Response used when the requested resource is not found",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "invalid_state: Response used when requested resource is in an invalid state for this operation",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to describe an Custom Domain",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/2022-09-01-00/customdomain/identityid": {
      "get": {
        "tags": [
          "custom-domain-api"
        ],
        "summary": "CustomDomainIdentityID custom-domain-api",
        "description": "Returns the identity id of the Custom Domain to be used in the trust policy of the account",
        "operationId": "custom-domain-api#CustomDomainIdentityID",
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountConfigIdentityIDResult"
                },
                "example": {
                  "id": "org-12345678"
                }
              }
            }
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to get an Custom Domain identity id",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/2022-09-01-00/customdomain/verify/{id}": {
      "post": {
        "tags": [
          "custom-domain-api"
        ],
        "summary": "VerifyCustomDomain custom-domain-api",
        "operationId": "custom-domain-api#VerifyCustomDomain",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "custom domain ID to operate on",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of an Custom Domain",
              "example": "Ipsa expedita laboriosam et error quaerat."
            },
            "example": "cd-12345678"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted response."
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "auth_failure: Response used on authentication failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "forbidden: Response used on authorization failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Response used when the requested resource is not found",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to list Custom Domains",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/2022-09-01-00/customer-invite-user": {
      "post": {
        "tags": [
          "users-api"
        ],
        "summary": "CustomerInviteUser users-api",
        "operationId": "users-api#CustomerInviteUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequestBody"
              },
              "example": {
                "email": "abc@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK response."
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "auth_failure: Response used on authentication failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "forbidden: Response used on authorization failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Response used when the requested resource is not found",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "invalid_state: Response used when requested resource is in an invalid state for this operation",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to invite user",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/2022-09-01-00/customer-login-with-identity-provider": {
      "post": {
        "tags": [
          "users-api"
        ],
        "summary": "CustomerLoginWithIdentityProvider users-api",
        "operationId": "users-api#CustomerLoginWithIdentityProvider",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLoginWithIdentityProviderRequestBody"
              },
              "example": {
                "authorizationCode": "4/P7q7W91a-oMsCeLvIaQm6bTrgtp7&",
                "companyDescription": "We sell xyz database software",
                "companyUrl": "https://www.mywebsite.com",
                "environmentType": "DEV",
                "identityProviderName": "Google",
                "invitedEmail": "abc@gmail.com",
                "legalCompanyName": "mywebsite",
                "redirectUri": "https://www.example/redirect"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SigninResult"
                },
                "example": {
                  "jwtToken": ""
                }
              }
            }
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "auth_failure: Response used on authentication failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "forbidden: Response used on authorization failure",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Response used when the requested resource is not found",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "invalid_state: Response used when requested resource is in an invalid state for this operation",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "failed_request: Response used on failure to signin",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key_header_Authorization": []
          }
        ]
      }
    },
    "/2022-09-01-00/customer-reset-password": {
      "post": {
        "tags": [
          "users-api"
        ],
        "summary": "CustomerResetPassword users-api",
        "operationId": "users-api#CustomerResetPassword",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequestBody"
              },
              "example": {
                "email": "abc@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK response."
          },
          "400": {
            "description": "bad_request: Response used on a bad request",
            "content": {
              "application/vnd.goa.error": {
                "schema": {
[...]
